<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Application</title>
</head>
<body>
    <div>
        {% block content %}
            <form method='post' action='addTask'> {% csrf_token %}
                <fieldset>
                <legend>Add Task</legend>
                Title:<br>
                <input type="text" name="Title" value=""><br>
                Description:<br>
                <input type="text" name="Description" value=""><br>
                Sub Tasks:<br>
                <input type="text" name="SubTasks" value=""><br>
                Status:<br>
                <select name="Status">
                    <option value="Pending">Pending</option>
                    <option value="Complete">Complete</option>
                </select><br>
                Due Date:<br>
                <input type="date" name="DueDate"><br>
                Alert:<br>
                <input type="number" name="Alert" value="0" ><br>
                <input id="btn" type="submit" value="Add Task">
                </fieldset>
            </form>

            <form method='post' action='showTask'> {% csrf_token %}
                <br><input type="submit" value="Show All Tasks"><br>
            </form>

            <form method='post' action='searchTask'> {% csrf_token %}
                <br><input type="text" name="Search" value="">
                <input type="submit" value="Search by Title"><br>
            </form>
            <br>
            <form method='post' action='upcomingDueDates'> {% csrf_token %}
                Upcoming Due Dates: 
                <select name="ComingDueDates">
                    <option value="Today">Today</option>
                    <option value="ThisWeek">This Week</option>
                    <option value="NextWeek">Next Week</option>
                    <option value="Overdue">Overdue</option>
                </select>
                <input type="submit" value="Search"><br>
            </form>

        {% endblock %}
    </div>
</body>
</html>
