<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Task List</title>
</head>
<body>
    <form method='post' action="."> {% csrf_token %}
        <button id="btn" type="submit" name="home button" value="">Home</button>
    </form>
    {% for post in posts %}
        <form method='post' action="makeUpdates"> {% csrf_token %}
            <fieldset>
            <h1>Title: {{ post.Title }}</h1>
            {% if post.Symbol == "yes" %}
                <h3><font color="red">ALERT</font></h3>
            {% endif %}
            <h3>Due Date: {{ post.DueDate }}</h3> 
            <h3>Status: {{ post.Status }}</h3>
            <p>Description: {{ post.Description }}</p>
            <p>Sub Tasks: {{ post.SubTasks }}</p>
            {% if post.Status == "Pending" %}
                <input type="checkbox" name="Status1" value="Complete">Mark as Complete<br>
            {% endif %}
            {% if post.Status == "Complete" %}
                <input type="checkbox" name="Status2" value="Pending">Mark as Pending<br>
            {% endif %}
            <input type="checkbox" name="DeleteTask" value="DeleteTask">Delete Task<br>
            <button type="submit" name="taskId" value="{{ post.Local_id }}">Update</button>
            </fieldset>
        </form>
    {% endfor %}
</body>
</html>